* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* header-nav */
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    padding: 2rem 6rem 0;
}

header a {
    text-transform: capitalize;
    font-weight: 900;
}

header a:hover {
    color: #b1b1b1;
    transition: all .5s;
}

header .logo img {
    width: 50px;
    max-width: 150px;
    height: auto;
}

header .logo img:hover {
    opacity: 0.8;
}

header .nav {
    display: flex;
    font-size: 18px;
}

header .nav li {
    margin: 0 1rem;
}

header .nav li:first-child {
    margin-left: 0;
}

header .nav li:last-child {
    margin-right: 0;
}

header .toggle_btn {
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    display: none;
}

header .dropdown_menu {
    position: absolute;
    right: 2rem;
    top: 70px;
    height: 0px;
    width: 200px;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    border-radius: 10px;
    overflow: hidden;
    font-size: 18px;
    display: none;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

header .dropdown_menu.open {
    height: 120px;
}

header .dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width:1000px) {
    header {
        padding: 1rem 3rem;
    }

    header .nav {
        display: none;
    }

    header .toggle_btn {
        display: block;
    }

    header .dropdown_menu {
        display: block;
    }
}

@media (max-width:578px) {
    header .dropdown_menu {
        left: 2rem;
        width: unset;
        font-size: 15px;
    }
}


/* ส่วนหน้าแรกสุด */
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 6rem;
}

@media (max-width:1000px) {
    section {
        padding: 6rem 3rem;
    }
}

@media (max-width:600px) {
    section {
        padding: 8rem 2rem;
    }
}

.box {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}

.box video {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.box h1 {
    margin-bottom: 1.5rem;
    font-size: 50pt;
    text-transform: uppercase;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

.box h1:hover {
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    transition: all .25s;
}

.box h3 {
    margin-bottom: 3rem;
    font-size: 20pt;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #000);
    line-height: 0.35em;
    outline: none;
    animation: animate 10s linear infinite;
}

@keyframes animate {

    0%,
    18%,
    20%,
    50.1%,
    60%,
    65.1%,
    80%,
    90.1%,
    92% {
        color: #0e3742;
        text-shadow: none;
    }

    18.1%,
    20.1%,
    30%,
    50%,
    60.1%,
    65%,
    80.1%,
    90%,
    92.1%,
    100% {
        color: #fff;
        text-shadow: 0 0 10px #03bcf4,
            0 0 20px #03bcf4,
            0 0 40px #03bcf4,
            0 0 80px #03bcf4,
            0 0 100px #03bcf4;
    }
}

.box a.boxBtn {
    padding: 1rem 3rem;
    background: transparent;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    border: 4px solid #fff;
    transition: all .5s;
}

.box a.boxBtn:hover {
    background: #fff;
    color: #333;
}

@media (max-width:800px) {

    /* ปรับขนาดวิดีโอ */
    .box {
        height: fit-content;
    }

    .box h1 {
        font-size: 44px;
    }

    .box h3 {
        font-size: 28px;
    }

    .box a.boxBtn {
        padding: 1rem 2rem;
    }
}

@media (max-width:480px) {
    .box h1 {
        font-size: 34px;
    }

    .box h3 {
        font-size: 20px;
    }

    .box a.boxBtn {
        padding: .5rem 1rem;
    }
}


/*home.html ของแต่ละคน*/

.contianerdata {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 {
    position: relative;
    max-width: 900px;
    width: 100%;
    padding: 50px 0;
    background-color: #ffffff;
}

.section1 .images {
    height: 180px;
    width: 180px;
    object-fit: cover;
    border-radius: 50%;
}

.section1 .slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
}

.slide p {
    text-align: center;
    padding: 0 160px;
    font-size: 14px;
    font-weight: 400;
}

.slide .bxs-down-arrow {
    font-size: 30px;
}

.slide .data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.data .name {
    font-size: 14px;
    font-weight: 600;
    color: #000;

}

.data .stnumber {
    font-size: 13px;
    font-weight: 400;
    color: #000;

}

/* ส่วนของ footer */

footer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: #1a242f;
    padding: 1rem;
}

footer .footer-content h4 {
    color: #fff;
    margin-bottom: 1rem;
    font-size: 20px;
}

.footer-content img {
    width: 40px;
    vertical-align: middle;
    margin-right: .5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
}

.footer-content h3 {
    display: inline;
    font-size: 16px;
    margin: 0;
    color: #fff;

}

.footer-content p {
    color: #fff;

}

.footer-content a {
    display: inline-block;
    color: #fff;
    margin-right: .5rem;
    margin-bottom: 1.5rem;
    transition: all .40s ease;
}

.footer-content a:hover {
    color: #c62922;
    transform: translateY(-3px) translateX(-5px);
}

.footer-content i {
    margin-right: 1rem;
    font-size: 22px;
    color: #fff;
}

@media (max-width:1690px) {
    footer {
        padding: 3rem 5% 2rem
    }
}

@media (max-width:1120px) {
    footer {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, auto));
        gap: 2rem;
    }
}

/*ส่วนของ form*/

.form-container {
    max-width: 600px;
    margin: 10px auto;
    padding: 25px;
    border: 1px solid #c62922;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
}

.form-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: whitesmoke;
    font-family: 'Kanit';
}

.form-group {
    margin-bottom: 15px;
    color: whitesmoke;
    position: relative;
    font-family: 'Kanit';
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select,
.form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Kanit';
}

.form-group input[type="radio"] {
    flex-direction: column;
    align-items: center;
}

.form-group textarea {
    resize: vertical;
}

.form-group select {
    width: 100%;
}

.form-group input[type="submit"] {
    background-color: #c62922;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    font-family: 'Kanit';
}

/* ตัว*แดง */
.required {
    padding: 3px;
    color: red;
    font-weight: bold;
}

.error {
    color: darkred;
    display: block;
    margin-top: 5px;
}

#display-area {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

#display-area p {
    margin: 5px 0;
    color: whitesmoke;
    font-family: 'Kanit';
}

.display-area_container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #c62922;
    border-radius: 5px;
}

.display-area_container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: whitesmoke;
    font-family: 'Kanit';
}

.message {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    font-family: 'Kanit';
}

.message .success {
    font-size: 16px;
    line-height: 1;
    display: none;
    color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.message .danger,
.message .fullname_alert,
.message .email_alert,
.message .gender_alert,
.message .satisfaction_alert {
    font-size: 16px;
    line-height: 1.75;
    display: none;
    color: white;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

/* ส่วนของ OurFutureHilights */
.container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    margin-bottom: 25px;
    position: relative;
    background-color: inherit;
    border-radius: 15px;
    width: 50%;
    animation: appear 0.5s linear;
    animation-timeline: view();
    animation-range: entry 0% cover 25%;
}

@keyframes appear {
    from {
        opacity: 0;
        scale: 0.5;
    }

    to {
        opacity: 1;
        scale: 1;
    }
}

.left {
    margin-left: 10%;
    border: 3px solid #185c6f;
    max-width: 800px;
    flex-direction: row;
}

.right {
    margin-left: 40%;
    border: 3px solid #5ac6c8;
    max-width: 800px;
    flex-direction: row-reverse;

}

.textbox {
    background-color: rgb(218, 223, 231);
    border-radius: 15px;
    padding: 40px;
    opacity: 95%;
    width: 100%;
    position: relative;
}

/* ลูกศรกล่องคำพูด */
.textbox::before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px;
    border-color: transparent rgb(218, 223, 231) transparent transparent;
    top: 50px;
    left: -18px;
    transform: translateY(-50%);
}

.right .textbox::before {
    border-top: 10px solid transparent;
    border-color: transparent transparent transparent rgb(218, 223, 231);
    left: auto;
    right: -18px;
    transform: translateY(-50%);
}

.container img {
    border-radius: 15px;
    max-width: 200px;
    width: auto;
    height: auto;
    margin-right: 25px;
}

.right img {
    margin-right: 0;
    margin-left: 25px;
}

.idiom {
    margin-bottom: 80px;
    margin-top: 150px;
    text-align: center;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

.OFH {
    background-image: url(resources/pxfuel.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

#sixth {
    margin-bottom: 100px;
}

/* ปุ่มเลื่อนกลับ */

.backtotopbutton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #332d2db9;
    color: #fff;
    padding: .75rem 1.25rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-transform: capitalize;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.25s ease 0s;
}

.backtotopbutton img {
    width: 1rem;
    display: none;
}

.backtotopbutton:hover {
    background-color: #c01313;
    opacity: 0.8;
    padding: 10px 14px;
}

@media (max-width:720px) {
    .backtotopbutton img {
        display: block;
    }

    .backtotopbutton p {
        display: none;
    }
}

/* Device media queries */

/* tablet */
@media (max-width: 1023px) {
    .container {
        flex-direction: column;
        width: 90%;
        margin: 15px auto;
        text-align: center;
        animation: appear 0s linear;
    }

    .textbox {
        width: 100%;
        margin: 20px 0;
    }

    .textbox::before {
        border-color: transparent transparent transparent transparent;
    }

    .right .textbox::before {
        border-color: transparent transparent transparent transparent;
    }
}

/* Mobile */
@media (max-width: 480px) {
    .container {
        flex-direction: column;
        width: 90%;
        animation: appear 0s linear;
    }

    .textbox {
        padding: 20px;
    }

    .textbox::before {
        border-color: transparent transparent transparent transparent;
    }

    .right .textbox::before {
        border-color: transparent transparent transparent transparent;
    }

    .idiom {
        padding: 30px;
        font-size: 1.2rem;
    }

    .container img {
        border-radius: 15px;
        max-width: 200px;
        width: auto;
        height: auto;
        margin-right: 25px;
        margin-left: 25px;
    }
}


/* index */
body {
    font-family: 'Kanit', sans-serif;
    background: #bdc3c7;
    color: #34495e;
  }

.containerdata{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
}
.item{
    position: absolute;
    width: 250px;
    height: 400px;
    text-align: justify;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s;
    left: calc(50% - 110px);
    top: 0;
}

.item h1{
    text-align: center;
    padding: 0 px;
}


.item .images{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.item .bxs-down-arrow{
    font-size: 30px;
    text-align: center;
}

.item .data{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide p{
    text-align: center;
    padding: 0 160px;
    font-size: 14px;
    font-weight: 400;
}


.item .name {
    margin: 10px 0;
    row-gap:20px;
    font-size: 15px;
    font-weight: 1000;
    color: #000;

}

.item .stnumber {
    font-size: 13px;
    font-weight: 400;
    color: #000;

}




#next, #prev{
    position: absolute;
    top: 40%;
    color: #fff;
    background-color: transparent;
    border: none;
    font-size: xxx-large;
    font-family: monospace;
    font-weight: bold;
    left: 400px;
}
#next{
    left: unset;
    right: 400px;
}

